@import '../../root/colors.css';
@import '../../root/font.css';
@import '../../root/sizes.css';


 .footer {
  position: relative;
  top: var(--p-footer);
   
 }

.footer-text {
    color: var(--fontWhiteColor);
    font-size: var(--fz-lg);
    font-weight: var(--fw-lg);
    font-family: "Inter", sans-serif;
}



/* Responsive */
/* Change Font */
@media only screen and (max-width: 550px){
    .footer-text {
        font-size: var(--fz-md);
        font-weight: var(--fw-md);
    }
}

@media only screen and (max-width: 450px){
    .footer-text {
        font-size: var(--fz-sm);
        font-weight: var(--fw-sm);
    }
}