:root {
  /* Sizes */
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-pageHeader: 35px;
  --fz-heading-sm: 45px;

  --fz-heading-md: 60px;
  --fz-heading: 75px;
  --fz-lines: 150px;

  /* Weights */
  --fw-xxs: 100;
  --fw-xs: 200;
  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 500;
  --fw-xl: 600;
  --fw-xxl: 700;
  
}
